@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DM_Sans/DMSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


/* ============================================================================================================================== */

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}